APScheduler==3.11.2
asgiref==3.11.1
cffi==2.0.0
cryptography==46.0.6
Django==6.0.3
django-apscheduler==0.7.0
django-extensions==4.1
djangorestframework==3.17.1
et_xmlfile==2.0.0
lxml==6.0.2
MarkupSafe==3.0.3
openpyxl==3.1.5
pycparser==3.0
pyOpenSSL==26.0.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
Werkzeug==3.1.7
